<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='./static/css/main.css') }}">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>All for dolls EU</title>
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
          <h5 class="my-0 mr-md-auto font-weight-normal">All for dolls EU</h5>
          <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" href="#">Main</a>
              <a class="p-2 text-dark" href="#">Molds</a>
              <a class="p-2 text-dark" href="#">Sets</a>
              <a class="p-2 text-dark" href="#">Other</a>
          </nav>
<!--          <a class="btn btn-outline-primary" href="#">Sign up</a>-->
    </div>

{% block body %}
{% endblock %}
<br>

<footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Delivery is carried out from Russia.</p>
      </div>
</footer>

</body>
</html>