{% extends 'base.html' %}

{% block body %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for el in data %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                         alt="Thumbnail [100%x225]" style="height: 325px; width: 100%; display: block;"
                         src="./static/img/{{ el.src }}"
                         data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">
                                {{ el.title }} <br>
                                {{ el.about }} <br><br>
                                • Size - {{ el.size }} cm. <br>
                                • Price - {{ el.price}} € without delivery.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="{{ el.link }}">View in Instagram</a>
                                </button>
                            </div>
                            <!--                    <small class="text-muted">9 mins</small>-->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}
