{% extends 'base.html' %}

{% block body %}

{% block content %}
    <br><br>
    <div class="container">
        <h2>New post</h2> <br>
            <form method="post">
                <input type="text" class="form-control" name="title" id="title" placeholder="Title"> <br>
                <input type="text" class="form-control" name="price" id="price" placeholder="Price"> <br>
                <input type="text" class="form-control" name="about" id="about" placeholder="About"> <br>
                <input type="text" class="form-control" name="size" id="size" placeholder="Size"> <br>
                <input type="text" class="form-control" name="src" id="src" placeholder="Src"> <br>
                <input type="text" class="form-control" name="link" id="link" placeholder="Link"> <br>
                <button class="btn-success" type="submit">Send</button>
            </form>
    </div>
    <br>
{% endblock %}

{% endblock %}
