{% extends 'base.html' %}


{% block body %}

{% block content %}
<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">
              On our web-site you can find all for dolls shoes
          </h1>
          <p class="lead text-muted">
              ● Paola Reina ● Blythe ● Götz ● Handmade Dolls ●
              Delivery is carried out from Russia.
            <p>
            <a href="https://www.instagram.com/all_for_dolls_eu/?hl=ru" class="btn btn-primary my-2">
                Check our instagram
            </a>
<!--            <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
          </p>
        </div>
      </section>

<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 325px; width: 100%; display: block;" src="./static/img/blythe_1.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">
                      Standard white shoe mold for Blythe dolls.
                      Use for the production of boots on leg with a thin socks. <br>
                      • Size - 2.5 cm. <br>
                      • Price - 2 € without delivery.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">
                        <a href="https://www.instagram.com/p/CLEzKxmDSnw/?utm_source=ig_web_copy_link">View in Instagram</a>
                      </button>
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="./static/img/paola_white.jpg" data-holder-rendered="true" style="height: 325px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">
                    Standard white shoe mold for Paola Reina dolls.
                    Use for the production of boots on leg with a thin sock. <br>
                    • Size - 5 cm. <br>
                    • Price - 2€ without delivery
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">
                        <a href="https://www.instagram.com/p/CLw_tSyD1FZ/?utm_source=ig_web_copy_link">View in Instagram</a>
                      </button>
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 250px; width: 100%; display: block;" src="./static/img/handmade_green.jpeg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">
                      Standard green shoe mold for Handmade dolls.
                      Use for the production of boots. <br>
                      • Size - 2.5 cm. - 10 cm. <br>
                      • Price - 2.5 € - 17 € without delivery.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">
                        <a href="https://www.instagram.com/p/CK7UEkGDZgQ/?utm_source=ig_web_copy_link">View in Instagram</a>
                      </button>
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
</div>
{% endblock %}

{% endblock %}